.soap-image {
    display: inline-block;
}
.soap-image img {
    width: 500px;
    border-radius: 2%;
}
.soap-text {
    display: inline-block;
    width: 490px;
    position: absolute;
    padding: 20px;
    padding-top: 0;
}

.precio {
    color: #9d745a;
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

.descripcion {
    margin: 0;
}

.ingredientes h4 {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 4px;
}
.ingredientes ul {
    margin: 0;
}